@font-face {
  font-family: RobotoBlack;
  src: url(./fonts/Roboto/Roboto-Black.ttf);
}

body {
  font-family: RobotoBlack, Arial, Helvetica, sans-serif;
  margin: 0px;
  height: 140vh;
}

nav {
  background-color: #232323;
  padding-left: 8px;
  width: 100%;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav svg {
  color: #ffffff58;
  width: 2.5vh;
  height: 2.5vh;
  transition: 0.3s;
}

nav svg:hover {
  color: #ffffff;
}

.offcanvas {
  background-color: #2f2f2f85;
  border: #ffffff85;
  color: #ffffffd7;
  margin: 2vh;
  margin-left: 0vh;
  padding-left: 2vh;
  border-radius: 0vh 1vh 1vh 0vh;
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdcdcd85;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.getEnergy {
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 3vh;
}

.getEnergy input {
  background-color: #2f2f2fb2;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 1vh;
  width: 70%;
}

.getEnergy svg {
  background-color: rgba(47, 47, 47, 0.523);
  border: #ffffff85;
  border-radius: 1vh;
  color: #ffffff58;
  width: 2.5vh;
  height: 2.5vh;
  transition: 0.3s;
}

.getEnergy svg {
  background-color: #2f2f2f58;
  color: #ffffff;
  cursor: pointer;
}

.cheats {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cheatTextContainer:hover {
  cursor: pointer;
}

.cheatText {
  text-align: center;
  margin-top: 3vh;
  background-color: #2f2f2f6f;
  font-size: 20px;
  color: #ffffff;
  border-radius: 1vh;
  text-align: center;
  border: none;
  padding: 1vh;
  width: 15vh;
}

.areas {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* Clicker Area */
.clickerArea {
  background: repeating-linear-gradient(
    108deg,
    #44395b,
    #44395b 25px,
    #2d2d47 25px,
    #2d2d47 50px
  );
  width: 180%;
  text-align: center;
  padding-top: 1vh;
}

.powerPlantNameContainer {
  background-color: rgba(47, 47, 47, 0.523);
  border: none;
  padding: 0.5vh;
  font-size: 20px;
  border-radius: 10px;
  width: 75%;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.powerPlantName {
  background-color: #2f2f2f00;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  border: none;
}

.powerPlantName:focus {
  border: none;
}

.powerPlantName:hover {
  cursor: pointer;
}

.batteriesData {
  background-color: #2f2f2f85;
  margin-top: 1vh;
  padding: 1vh;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  transition: 0.3s;
}

.batteriesData:hover {
  cursor: default;
}

.batteriesData h1 {
  font-size: 27px;
}

.batteriesAmount {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  font-size: 32px;
  margin: 0px;
}

.earning {
  display: flex;
  justify-content: center;
}

.batteriesPerSecond {
  font-size: 18px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

.totalTaxes {
  display: none;
  font-size: 18px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

/* Clicker */
#clicker {
  margin: 20px;
  background-color: rgba(47, 47, 47, 0.523);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: #ffffff85;
  color: #ffffff58;
  border-radius: 2vh;
  font-size: 20px;
  transition: 0.3s;
}

#clicker:hover {
  background-color: #2f2f2f58;
  color: #ffffff;
  margin: 1vh;
  cursor: pointer;
  opacity: 120%;
}

#clicker svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Buildings Area */
.buildingsArea {
  background: repeating-linear-gradient(
    108deg,
    #4f395b,
    #4f395b 25px,
    #372d47 25px,
    #372d47 50px
  );
  border: #232323 solid 3px;
  padding: 15px;
  width: 300%;
  display: flex;
  flex-direction: column;
}
/* Purchase Area */
.purchaseArea {
  background: repeating-linear-gradient(
    108deg,
    #44395b,
    #44395b 25px,
    #2d2d47 25px,
    #2d2d47 50px
  );
  border: #232323 solid 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.storeTitle {
  color: #ffffff;
  text-align: center;
  margin: 0px;
  margin-bottom: 12px;
  margin-top: 12px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

/*  Purchase Upgrades*/
#upgradesContainer {
  border-top: #232323 solid 6px;
  border-bottom: #232323 solid 6px;
  transition: 0.3s;
}

.purchaseData h2 {
  font-size: 20px;
}

.purchaseData h3 {
  font-size: 18px;
}

.purchaseArea h2 {
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: #ffffff;
  filter: drop-shadow(3px 5px 2px #00000066);
}

#upgrades {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
}

#upgrade {
  width: 50px;
  height: 50px;
  background-color: #2f2f2f85;
  color: #ffffff58;
  border-radius: 8px;
  margin: 3px;
  font-size: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

#upgrade:hover {
  background-color: #2f2f2f58;
  color: #ffffff;
  cursor: pointer;
}

#upgrade h1 {
  margin: 0px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

#upgrade p {
  margin: 0px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

#upgrade svg {
  padding: 0.5vh;
}

/* Purchase Buildings */
.purchaseItem {
  background-color: #2f2f2f85;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.purchaseItem:hover {
  background-color: #2f2f2f58;
  margin-top: 6px;
  cursor: pointer;
}

.purchaseData h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

.purchaseData h3 {
  margin-top: 0px;
  margin-bottom: 02px;
  filter: drop-shadow(3px 5px 2px #00000066);
}

.ownedAmount {
  margin: 0px;
}
