body {
  margin: 0px;
  height: 140vh;
}

.menuBar {
  background-color: rgb(35, 35, 35);
  padding-left: 8px;
  width: 100%;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuBar svg {
  color: rgba(255, 255, 255, 0.347);
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

.menuBar svg:hover {
  color: rgb(255, 255, 255);
}

.areas {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* Clicker Area */
.clickerArea {
  background: repeating-linear-gradient(
    108deg,
    #5b3939,
    #5b3939 25px,
    #472d2d 25px,
    #472d2d 50px
  );
  width: 180%;
  border: rgb(35, 35, 35) solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding-top: 8px;
}

.powerPlantNameContainer {
  background-color: rgba(47, 47, 47, 0.523);
  border: none;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  width: 75%;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.powerPlantName {
  margin: 0px;
  background-color: rgba(47, 47, 47, 0);
  font-size: 20px;
  color: white;
  text-align: center;
  border: none;
}

.powerPlantName:focus {
  border: none;
}

.powerPlantName:hover {
  cursor: pointer;
}

.batteriesData {
  background-color: rgba(47, 47, 47, 0.523);
  margin-top: 5px;
  padding: 5px;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.batteriesData:hover {
  cursor: default;
}

.batteriesData h1 {
  font-size: 27px;
}

.batteriesAmount {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  font-size: 32px;
  margin: 0px;
}

.earning {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}

.batteriesPerSecond {
  font-size: 18px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.totalTaxes {
  display: none;
  font-size: 18px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#clicker {
  margin: 20px;
  background-color: rgba(47, 47, 47, 0.523);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: rgba(255, 255, 255, 0.523);
  color: rgba(255, 255, 255, 0.347);
  padding: 18px;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.3s;
}

#clicker:hover {
  background-color: rgba(47, 47, 47, 0.347);
  color: rgb(255, 255, 255);
  cursor: pointer;
  opacity: 120%;
}

#clicker svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Buildings Area */
.buildingsArea {
  background: repeating-linear-gradient(
    108deg,
    #664040,
    #664040 25px,
    #573737 25px,
    #573737 50px
  );
  border: rgb(35, 35, 35) solid 3px;
  padding: 15px;
  width: 300%;
  display: flex;
  flex-direction: column;
}
/* Purchase Area */
.purchaseArea {
  background: repeating-linear-gradient(
    108deg,
    #5b3939,
    #5b3939 25px,
    #472d2d 25px,
    #472d2d 50px
  );
  border: rgb(35, 35, 35) solid 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.storeTitle {
  color: white;
  text-align: center;
  margin: 0px;
  margin-bottom: 12px;
  margin-top: 12px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/*  Purchase Upgrades*/
#upgradesContainer {
  border-top: rgb(35, 35, 35) solid 6px;
  border-bottom: rgb(35, 35, 35) solid 6px;
  transition: 0.3s;
}

.purchaseData h2 {
  font-size: 20px;
}

.purchaseData h3 {
  font-size: 18px;
}

h2 {
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#upgrades {
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
}

#upgrade {
  width: 50px;
  height: 50px;
  background-color: rgba(47, 47, 47, 0.523);
  color: rgba(255, 255, 255, 0.347);
  border-radius: 8px;
  margin: 3px;
  font-size: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

#upgrade:hover {
  background-color: rgba(47, 47, 47, 0.347);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#upgrade h1 {
  margin: 0px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#upgrade p {
  margin: 0px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Purchase Buildings */
.purchaseItem {
  background-color: rgba(47, 47, 47, 0.523);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.purchaseItem:hover {
  background-color: rgba(47, 47, 47, 0.347);
  margin-top: 6px;
  cursor: pointer;
}

.purchaseData h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.purchaseData h3 {
  margin-top: 0px;
  margin-bottom: 02px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.ownedAmount {
  margin: 0px;
}

/* Setting */
#setting {
  border-top: rgb(35, 35, 35) solid 6px;
  border-bottom: rgb(35, 35, 35) solid 6px;
  padding-bottom: 15px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingText {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 47, 47, 0.523);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#earning {
  border-top: rgb(35, 35, 35) solid 6px;
  border-bottom: rgb(35, 35, 35) solid 6px;
  padding-bottom: 15px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earningText {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
